accelerate==0.18.0
colorama
datasets
flexgen==0.1.7
gradio_client==0.1.4
gradio==3.28.3
markdown
numpy
pandas
Pillow>=9.5.0
pyyaml
requests
rwkv==0.7.3
safetensors==0.3.1
sentencepiece
tqdm
pydantic==1.10.9
peft==0.4.0
transformers==4.28.1
bitsandbytes==0.38.1
llama-cpp-python==0.1.41
xformers
